//- jquery v3.3.1
script(src="js/jquery-3.3.1.min.js")
script(src="js/popper.min.js")
//- bootstrap v4.0.0
script(src="js/bootstrap.min.js")
//- Isotope filter
script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
//- numscroller v1
script(src="js/numscroller-1.0.js")
script(src="js/tilt.jquery.min.js")
//- swiper v5.2.1
script(src="js/swiper.min.js")
script(src="js/owl.carousel.min.js")
//- parallax js v2.0.0-alpha
script(src="js/parallax.min.js")
//- script file
script(src="js/script.js")
//- AOS animation library
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
//- init AOS animation library
script AOS.init();