// content style
.content-area{
    .row{
        display: flex;
        flex-flow: row wrap;
        .col{
            width: 100%;
            height: calc(100vh - 87px);
            @media #{$smallAndUp} { 
                flex-basis: 0;
                flex-grow: 1;
            }
            @media #{$smallAndLess} { 
                height: 100vh;
            }
            @media (max-height: 560px) {
                height: auto;
                padding: 20px 0;
            }
        }
        .overview{
            background: $mainColor;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media #{$largeAndLess} { 
                justify-content: center;
            }
            .math-teacher{
                margin-left: 79px;
                @media #{$largeAndUp} {
                    height: 551px;
                }
                @media (max-height: 560px) {
                    height: auto;
                }
                @media #{$largeAndLess} { 
                    margin-left: 0;
                    padding: 0 15px;
                }
                .image-wrap{
                    img{
                        @media (max-width: 380px) {
                            width: 170px;
                        }
                    }
                }
                .name{
                    font-family: $mainFont;
                    font-weight: 500;
                    font-size: 30px;
                    color: $secondColor;
                    margin-top: 25px;
                }
                .title{
                    font-family: $mainFont;
                    font-weight: 500;
                    font-size: 16px;
                    color: $fontColor;
                }
                .description {
                    p{
                        font-family: $secondFont;
                        color: $fontColor;
                        line-height: 27px;
                        margin-top: 35px;
                        margin-bottom: 27px;
                        max-width: 470px;
                        font-size: 16px;
                    }
                }
                .social-media{
                    ul{
                        height: 56px;
                        li{
                            display: inline-block;
                            height: inherit;
                            a{
                                margin-left: 16px;
                                display: inline-block;
                                cursor: pointer;
                                height: inherit;
                                img{
                                    @media (max-width: 380px) {
                                        width: 38px;
                                    }
                                }
                            }
                            &:last-child{
                                a{
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form{
            background: $secondColor;
            display: flex;
            align-items: center;
            @media #{$largeAndLess} { 
                justify-content: center;
            }
            form{
                margin-right: 79px;
                width: 474px;
                @media #{$largeAndLess} { 
                    margin-right: 0;
                    padding: 0 15px;
                }
                @media (min-width: 754px) and (max-width: 925px) {
                    width: 100%;
                }
                label{
                    color: #fff;
                    font-family: $mainFont;
                    display: block;
                    font-size: 28px;
                    margin-bottom: 50px;
                    text-align: center;
                }
                input{
                    font-family: $secondFont;
                    font-size: 18px;
                    display: block;
                    width: 100%;
                    height: 45px;
                    border-radius: 4px;
                    background: transparent;
                    border: 1px solid $borderColor;
                    padding-right: 10px;
                    color: #fff;
                    outline: 0;
                    &::placeholder{
                        color: #fff;
                    }
                    &:nth-of-type(1){
                        margin-bottom: 13px;
                    }
                }
                button{
                    display: block;
                    font-size: 18px;
                    margin-top: 40px;
                    width: 100%;
                    border-radius: 22.5px;
                    background: transparent;
                    border: 1px solid $mainColor;
                    padding: 10px 0 9px;
                    color: $mainColor;
                    font-family: $mainFont;
                    outline: 0;
                    cursor: pointer;
                    transition: background .2s ease-in-out;
                    &:hover{
                        background: $whiteColor;
                        border-color: $whiteColor;
                    }
                }
            }
        }
    }
}

// footer style
footer{
    height: 87px;
    padding: 14px 0;
    p{
        color: $fontColor;
        font-family: $secondFont;
    }
}